{%extends 'base.html'%}
{%block content%}
<table class="table table-hover"> 
    <thead>
        <th>Наименование</th>
        <th>Цвет</th>
        <th>Размер</th>
        <th>Цена</th>
        <th>Фото</th>
    </thead>
        <tbody>
            {%for jc in jacket%}
            <tr>
                <td>{{jc.title_jacket}}</td>
                <td>{{jc.colour}}</td>
                <td>{{jc.size}}</td>
                <td>{{jc.price}}</td>
                <td><img src={{jc.image}}></td>
            </tr>
            {%endfor%}
{%endblock%}
